<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AngularJS 扩展了 HTML</title>
    <script src="../js/angular.min.js" charset="utf-8"></script>
  </head>
  <body>
    <!-- ng-app="" 定义了angular js 的使用范围 -->
    <div class="" ng-app="">
      <label for="uname">用户名:</label>
      <!-- ng-model = "" 定义了变量 -->
      <input id="uname" type="text" placeholder="请输入用户名" ng-model="name">
      <h1>姓名为 {{name}}</h1>
    </div>

    <!--
    1、ng-app=" "  定义angularJS的使用范围；
    2、ng-init="变量=值;变量='值'"  初始化变量的值，有多个变量时，中间用分号隔开；
    3、ng-model="变量"  定义变量名；
    4、ng-bind="变量"  绑定变量名，获取该变量的数据。这里的变量就是第3条的变量名。
    但是一般都用双重花括号来获取变量的值，比如：{{变量}}。
   -->
  </body>
</html>
