@charset "UTF-8";


* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.clearfix::after ,
.clearfix::before {
  content: "";
  clear: both;
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom:1;
  /*兼容IE*/
}

/*版心 w*/

.w {
  width: 1300px;
  margin: 0 auto;
}
/********************01.html*************************/

.divc {
  width: 800px;
  height: 800px;


  /*background-color: red;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-position: 100px 100px;
  background-attachment: fixed;*/


  background: red url("../images/1.jpg") no-repeat 50px 100px fixed;
}

.divf {
  width: 800px;
  height: 500px;
  background: blue;
  margin: auto;
  position: relative;
}

.divs {
  width: 500px;
  height: 300px;
  background: pink;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/********************02.html*************************/

div.one {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  float: left;
  background-color: red;
}

div.two {
  width: 300px;
  height: 300px;
  background-color: green;
}

/********************03.html*************************/


#header {
  width: 600px;
  height: 150px;
  margin: 0 auto;
  background: pink;
  line-height: 150px;
  text-align: center;
}

#main {
  width: 600px;
  margin: 0 auto;
  line-height: 300px;
  text-align: center;
  overflow: hidden;
}

#left {
  width: 150px;
  height: 300px;
  float: left;
  background: blue;
}

#center {
  width: 300px;
  height: 300px;
  float: left;
  background: red;
}

#right {
  width: 150px;
  height: 300px;
  float: left;
  background: green;
}

#bottom {
  width: 600px;
  height: 150px;
  clear: left;
  margin: 0 auto;
  background: orange;
  line-height: 150px;
  text-align: center;
}












/********************love.html*************************/
.bg {
  width: 500px;
  height: 600px;
  margin: 50px auto;
  background: url("../images/bg.gif") #cce23f;
}

.top {
  width: 500px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  color: white;
}

.bottom {
  width: 400px;
  height: 470px;
  margin: 0 auto;
  background-color: white;
}

.line {
  width: 8px;
  height: 40px;
  float: left;
  background: #cce23f;
  margin: 20px 20px 0px 50px;
}

.lines {
  font-size: 16px;
  line-height: 50px;
  width: 350px;
  height: 50px;
  text-indent: 2em;
  background: url("../images/tb.gif") no-repeat;
  background-size: 20px 20px;
  background-position: left center;
  border-bottom: gray 2px dashed;
  margin: 0 auto;
  color: #426ab3;
}





























/*********************************************/
